
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;        
  height: 60px;               
  background-color: black; 
}


.filter-button {
  background: white;
  color: #007bff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background 0.2s ease;
  margin-right: 20px;
  font-family: 'Segoe UI', sans-serif;
}

.filter-btn:hover {
  background: #e6e6e6;
}
