.sidebar {
  position: fixed;
  top: 0;
  left: -200px;
  width: 200px;
  height: 100%;
  background-color: #f8f9fa;
  box-shadow: 2px 0 12px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  transition: left 0.3s ease-in-out;
  z-index: 1000;
    font-family: 'Segoe UI', sans-serif;

}

.sidebar.open {
  left: 0;
}

.close-btn {
  background: none;
  border: none;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #333;
}

.sidebar h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #333;
}

.sidebar label {
  display: block;
  margin-bottom: 0.75rem;
  font-size: 0.95rem;
  color: #555;
}
