.home {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #aca9a9;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #222;


}

.home_title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.search_button {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.home_spinner {
  margin-top: 16px;
}

.home_error {
  color: red;
  margin-top: 1rem;
}

.home_list_container {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.home_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.home_list_item {
  padding: 0.5rem 0;
  border-bottom: 1px solid #eee;
    text-align: center;

}

.close_button {
  margin-top: 1rem;
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
}

.home_list_link {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  cursor: pointer;
}

